@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c26;
    color: whitesmoke;
}


/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* CSS FOR NAV BAR */

.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    background-color: #242030;
    color: #fff;
    height: 10vh;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
}

.nav-menu img{
    width: 60px;
}

.nav-menu img:hover{
    cursor: pointer;
}

.nav-menu select{
    border: 0px;
    font-size: 15px;
    padding: 10px 0px;
    background-color: #242030;
    color: whitesmoke;
}

.nav-menu select:hover{
    cursor: pointer;
    text-decoration: underline;
}

.nav-menu a{
    color: whitesmoke;
    text-decoration: none;
}

.nav-menu a:hover{
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

/* PRODUCT DESCRIPTION CSS */

.profile-menu{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-menu i{
    font-size: 24px;
}

.product-page{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: 90vh;
    /* color: #fff; */
}

.image-container img{
    /* width: 500px; */
    /* margin-right: 100px; */
    /* position: fixed; */
    height: 75vh;
}

.image-container img:hover{
    cursor: pointer;
}

.product-description{
    margin-top: 80px;
    margin-right: 125px;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 60vh;
}

.product-details {
    width: 100%;
}

.product-details h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.product-details h1 span.red{
    color: red;
}

.product-price{
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 35px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.product-price small{
    margin-left: 50px;
    font-size: small;
}

.product-details h4.old-price{
    text-decoration: line-through;
    margin-right: 10px;
}

.variety{
    margin-top: 0px;
    border: 1px black;
    width: 100%;
}

.variety h6{
    font-size: small;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 6px;
}

.variety-btn{
    width: 75px;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.variety-btn:hover{
    opacity: 0.7;
}

.buy-menu{
    width: 100%;
    margin-top: 10px;
}

.menu-btn{
    width: 100%;
    margin: 10px 0px;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.menu-btn:hover{
    opacity: 0.7;
}

.cart{
    background-color: #F8E559;
}

.buy{
    background-color: hsl(261, 80%, 55%);
    color: #fff;
}

.quantity{
    font-size: 24px;
    width: 100%;
    margin-top: 20px;
}

.quantity h4{
    margin: 0px;
}

.qty-selector button{
    margin-top: 5px;
    width: 50px;
    height: 40px;
    margin-right: -7px;
    border: 1px solid #777;
    background-color: #fff;
}

.qty-selector button.reduce{
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.qty-selector button.reduce:hover{
    cursor: pointer;
}

.qty-selector button.qty{
    border-right: none;
    border-left: none;
}

.qty-selector button.increase{
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.qty-selector button.increase:hover{
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------------------- */

/* PRODUCT HIGHLIGHTS CSS */

.product-highlights{
    padding-top: 75px;
    padding-bottom: 75px;
    left: 300px;
    height: 75vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-highlights h1{
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
}

.highlight-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    width: 120vh;
}

.box{
    margin: 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 75px;
}

.box h3{
    margin: 10px 0px;
    font-size: 22px;
}

.box h6{
    margin: 10px 0px;
    font-size: 14px;
}


/* FOOTER CSS */

.text-bg{
    width: 10px;
    height: 60px;
    background-color: hsl(261, 80%, 55%);
    position: relative;
    left: 70px;
    top: 75px;
}

.contact-footer{
    /* margin-top: 75px; */
    /* padding-top: 100px; */
    display: flex;
    height: 70vh;
    background-color: #292932;
}

.footer-desc{
    margin: 20px 0px;
    padding: 20px 80px;
    width: 62%;
}

.footer-desc h1{
    font-size: 50px;
    margin-bottom: 0;
}

.footer-btn{
    margin-top: 35px;
    height: 50px;
    padding: 5px 10px;
    width: 200px;
    font-size: 18px;
    border-radius: 10px;
    background-color: hsl(261, 80%, 55%);
    cursor: pointer;
    color: white;
    border: none;
}

.footer-btn:hover{
    opacity: 0.7;
}

.contact-info{
    background-color: hsl(261, 80%, 55%);
    width: 30%;
    height: 100%;
    color: whitesmoke;
    padding: 0px 50px;
}

.info-desc-inner-flex{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    padding-bottom: 0;
}

.info-desc-inner-flex h4{
    margin-left: 10px;
    width: 100%;
}

.info-desc p{
    margin-top: 0;
    padding: 0;
    margin-left: 22px;
}

.social-media{
    padding-top: 10px;
}

.social-media h4{
    margin-bottom: 15px;
    margin-left: 10px;
}

.icon{
    margin: 0 10px;
    cursor: pointer;
}
